@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


*{
    padding:0;
    margin: 0;
}

body{

    background-image:url(img/background.png);
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius:4px;
    background:white;
}

.container,
.form_input,
.form_button {
    font: 500 1rem 'Quicksand', sans-serif; 
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form_title{
    margin-bottom:2rem;
    text-align:center;
}

.form_input_group{
    margin-bottom:1rem;
}

.from_input{
    display:block;
    width:100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #dddddd;
}

.from_input:focus{
    border-color:#009579;
}

.form_input-error{
    color:#cc3333;
    border-color: #cc3333;
}

.form_input-error-message{
    margin-top:0.5rem;
    font-size:0.85rem;
    color:#cc3333;
}

.form_button{
    width: 100%;
    padding:1rem 1rem;
    font-weight: bold;
    font-size:1.1rem;
    color:white;
    border-radius: 4px;
    outline:none;
    cursor:pointer;
    background:#009579;
}

.form_button:hover{
    background:#007f67;
}

.form_button:active{
    transform: scale(0.98);
}

.form_text{
    text-align:center;
}

.form_link{
    color:#252c6a;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover{
    text-decoration: underline;
}

.form_message{
    text-align: center;
    margin-bottom: 1rem;
}

.form_message--success{
    color:#cc3333;
}

.form-error{
    color:#cc3333;
}

.form_hidden{
    display: none;
}

.hidden{
    display: none;
}